* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Element Styles - "Mobile Media Query"*/

body {
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  letter-spacing: 1px;
  width: 100%;
  position: relative;
}

h1 {
  display: flex;
  font-size: 14px;
  padding: 20px 0 0 32px;
  font-weight: 500;
  color: #4e4e4e;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Grid Container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
  padding: 30px;
}

.card {
  display: flex;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background: white;
  justify-content: space-around;
  align-items: center;
}

.email,
.address {
  color: #b4b7ba;
  padding-top: 7px;
}

/* Employee Cards*/

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
